#aboutWrapper {
    display: flex;
    flex-direction: column;
}

#aboutContentWrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-self: center;
    height: 500px;
    margin-bottom: 50px;
}

#aboutTitle {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: 700;
    width: 90%;
    align-items: center;
    align-self: center;
}

#aboutTitle > span {
    margin-right: 1%;
    white-space: nowrap;
}

#aboutDivider {
    margin-left: 3%;
    width: 100%;
}

#aboutText {
    width: 90%;
    margin-left: 130px;
    align-self:center;
    text-align: justify;
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 50px;
}

.aboutBoldText {
    font-weight: 700;
}

#aboutPhoto {
    object-fit: contain;
    height: 350px;
    align-self: center;
    margin-right: 130px;
    margin-left: 50px;
}

#aboutSkillList {
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px 10px;
    width: 500px;
    padding-left: 20px;
}

@media only screen and (max-width: 699px) and (min-width: 0px) {

    #aboutContentWrapper {
        width: 97%;
        align-self: center;
        margin-bottom: 10px;
        height: 800px;
        flex-direction: column;
    }

    #aboutText {
        margin-left: 0px;
        font-size: 15px;
    }

    #aboutTitle > span{ 
        font-size: 32px;
    }

    #aboutPhoto {
        height: 270px;
        align-self:center;
        margin: auto;
        margin-top: 0px; 
    }

    #aboutSkillList {
        gap: 5px 5px;
        width: 370px;
    }

}

@media only screen and (max-width: 1280px) and (min-width: 700px) {
    
    #aboutContentWrapper {
        width: 90%;
        align-self: center;
        margin-bottom: 10px;
        height: 450px;
    }

    #aboutText {
        margin-left: 0px;
        font-size: 15px;
    }

    #aboutTitle > span{ 
        font-size: 32px;
    }

    #aboutPhoto {
        height: 200px;
        margin-left: 0px;
    }

}
