#contactWrapper {
    display: flex;
    flex-direction: column;
}

#contactTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 32px;
    font-weight: 700;
    align-items: center;
}

#contactTitle > span {
    margin-right: 3%;
}

#contactDivider {
    margin-left: 3%;
    width: 77%;
}

#contactContent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 70px;
}

#contactPhoto{
    width: 410px;
    object-fit: contain;
}

#contactTextWrapper{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#hyperlinks {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#contactTextWrapper > span {
    text-align: center;
    font-size: 25px;
}

.contactHyperLink {
    height: 50px;
    object-fit: contain;
    padding-left: 10px;
    padding-right: 10px;
}


#btnWrapper {
    display: flex;
    align-self: center;
}

.contactBtn {
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    margin: 8px;
    color: #003300;
    font-size: 20px;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    width: 165px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#btnWrapper :hover {
    cursor: pointer;
}

@media only screen and (max-width: 699px) and (min-width: 0px) {

    #contactTitle > span {
        margin-right: 3%;
    }

    #contactDivider {
        margin-left: 1.2%;
        width: 45%;
    }

    #contactTitle {
        font-size: 25px;
    }

    #contactPhoto{
        display: none;
    }

    #contactTextWrapper > span {
        text-align: center;
        font-size: 15px;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 700px) {


    #contactDivider {
        margin-left: 1.2%;
        width: 60%;
    }

    #contactTitle {
        font-size: 32px;
    }

    #contactPhoto{
        width: 250px;
    }

    #contactTextWrapper > span {
        font-size: 18px;
    }
}