
/* Whole Introduction*/
#introPage {
    display: flex;
    padding-top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
}

/* First Half (Text) */
#introText {
    text-align:center;
    margin-top: 50px;
    margin-left: 30px;
    width: 60%;
}

.introLogo {
    object-fit: contain;
    width: 50px;
    padding: 0px 10px;
}

.github:hover {
    content: url('../assets/githubHover.png');
}

.linkedin:hover {
    content: url('../assets/linkedinHover.png');
}

.twitter:hover {
    content: url('../assets/twitterHover.png');
}

.discord:hover {
    content: url('../assets/discordHover.png');
}

#nameTitle {
    font-weight: 400;
    font-size: 60px;
}

#nameText{
    font-weight: 800;
}

#nameIntro {
    font-weight: 400;
    font-size: 24px;
    margin: 0px 50px;
    padding-bottom: 20px;
    white-space: nowrap;
}

.nameQuote {
    font-weight: 400;
    font-size: 22px;
    white-space:nowrap;
    padding-bottom: 20px;
    line-height: 1.3;
}

/* Second Half (Photo) */
#introPhoto {
    display: inline-block;
    margin-top: 70px;
}

#homePhoto {
    width: 450px;
    object-fit: contain;
}


@media only screen and (max-width: 1280px) and (min-width: 700px) {
    
    #introPage {
        height: 600px;
    }

    #introText {
        margin-left: 10px;
    }

    #nameTitle {
        font-size: 40px;
    }

    #nameIntro {
        font-size: 15px;
        margin: 0px 0px;
        padding-bottom: 20px;
        white-space: nowrap;
    }

    .nameQuote {
        font-size: 15px;
        white-space:nowrap;
        padding-bottom: 20px;
        line-height: 1.3;
    }

    #introPhoto {
        display: inline-block;
        margin-right: 30px;
        margin-top: 70px;
    }

    #homePhoto {
        width: 300px;
        object-fit: contain;
    }

    .introLogo {
        object-fit: contain;
        width: 50px;
        padding: 0px 10px;
    }
}

@media only screen and (max-width: 699px) and (min-width: 0px) {
    
    #introPage {
        height: 630px;
        width: auto;
        padding-left: 0px;
        padding-right:0px;
        flex-direction: column;
    }

    #introText {
        width: 100%;
        margin-left: 0px;
    }

    #nameTitle {
        font-size: 35px;
        align-self: center;
    }

    #nameIntro {
        font-size: 13px;
        padding-bottom: 20px;
        white-space: nowrap;
        margin: 0px;
    }

    .nameQuote {
        font-size: 13px;
        white-space: nowrap;
        padding-bottom: 20px;
        line-height: 1.3;
    }

    #introPhoto {
        display:none;
    }

    #homePhoto {
        width: 300px;
        object-fit: contain;
    }

    .introLogo {
        object-fit: contain;
        padding: 0px 10px;
    }
}
