.hidden {
    transform: translateY(-82.6px);
}

.nav { 
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 9999;
  opacity: 98%;
  transition: transform 0.2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

hr {
    margin: 0;
    height: 1px;
    color: #333;
    background-color: #333;
}

#navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

.navLinks {
    display: flex;
    margin: 0;
    padding: 0;
}

.navLinks > li {
    list-style : none;
    font-size: 20px;
}

.navLinks > li > a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.navLinks > li :hover {
    color:#30d870;
}

#navLogo {
    object-fit: contain;
    height: 85px;
    margin-left: 1rem
}

.toggle-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display : none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button :hover {
    cursor: pointer;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media only screen and (max-width: 550px) and (min-width: 0px) {

    .toggle-button {
        display: flex;
    }

    .navLinks > li {
        /*display: none;*/
        width: 100%;
        text-align: center;
        padding: .5 rem 1rem;
    }

    .active {
        display: none;
        transition: transform 0.2s;
    }

    .navLinks > li > a {
        /*display: none;*/
        padding: .7rem 1rem;
    }

    #navWrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .navLinks {
        flex-direction: column;
        width: 100%;
    }

}
