#projectWrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}


/* Project Title */

#projectTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 36px;
    font-weight: 700;
    align-items: center;
}

.projectDivider {
    width: 40%;
}

#dividerLeft{
    margin-left: 3%;
}

#dividerRight{
    margin-right: 3%;
}

/* Project Main Content */

#projectContent {
    display: grid;
    margin-top: 30px;
    grid-template-columns: auto auto auto;
    gap: 40px 80px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.singleProject {
    background-color: #D9D9D9;
    width : 280px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 300px;
    border-radius: 10px;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.projectPhotos {
    display: flex;
}

.projectHyperLinks {
    display: flex;
    margin-left: auto;
}

.projectHyperLinks > a {
    align-self: center;
}

.projectBigPhoto {
    object-fit:contain;
    height: 70px;
}

.projectSmallPhoto {
    object-fit: contain;
    height: 35px;
    padding: 5px;
}

.projectName {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}

.projectLibrary {
    margin-top: auto;
    font-size: 15px;
    color: #30d870;
    font-weight: 600;
}

#buttonWrapper {
    display: flex;
    align-self: center;
    margin-top: 40px;
    margin-bottom: 70px;
}

#showMoreBtn {
    padding: 20px;
    border-radius: 10px;
    background-color:transparent;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#buttonWrapper :hover {
    cursor: pointer;
}

.showMoreText{
    color: #003300;
    font-size: 20px;
}

.hideProject {
    display: none;
}


@media only screen and (max-width: 699px) and (min-width: 0px) {

    .projectDivider {
        width: 30%;
    }

    #dividerLeft{
        margin-left: 3%;
    }

    #dividerRight{
        margin-right: 3%;
    }

    #projectTitle {
        font-size: 25px;
    }

    #projectContent {
        grid-template-columns: auto;
        gap: 25px 80px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #projectWrapper {
        height: auto;
    }

    .singleProject {
        height: 300px;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 700px) {

    .projectDivider {
        width: 35%;
    }

    #dividerLeft{
        margin-left: 3%;
    }

    #dividerRight{
        margin-right: 3%;
    }

    #projectTitle {
        font-size: 32px;
    }

    #projectContent {
        grid-template-columns: auto auto;
        gap: 25px 80px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #projectWrapper {
        height: auto;
    }

    .singleProject {
        height: 300px;
    }
}